.wrapper_edit {
  width: 92%;
  margin: auto;
}
.nav_edit {
  width: 100%;
  border-radius: 14px;
  border: 2px solid black;
  padding: 1rem;
  position: relative;
  h1 {
    text-align: center;
  }
  .back {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 20px;
    top: 1.6rem;
    display: flex;
    align-items: center;
    position: absolute;
    gap: 10px;
  }
}
