.wrapper_navbar {
  padding: 2rem 0;
  .wrapper_width {
    width: 92%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .link_navbar {
      font-size: 22px;
      text-decoration: none;
      color: #000000;
      font-weight: 500;
    }
    .search {
      position: relative;
      input {
        cursor: pointer;
        width: 300px;
        padding: 8px 15px 8px 40px;
        border-radius: 10px;
      }
      .icon {
        position: absolute;
        top: 4px;
        left: 0;
        transform: translate(50%, 50%);
      }
    }
    .btns {
      .link_btn {
        font-size: 22px;
        text-decoration: none;
        color: #000000;
        margin-left: 2rem;
        font-weight: 500;
      }
      .user_icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 17px;
        .icon {
          cursor: pointer;

          font-size: 30px;
        }
        .dropdownContainer {
          position: relative;
          .icon {
            margin-top: 5px;
          }
        }

        .profileIcon {
          cursor: pointer;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }

        .dropdownMenu {
          position: absolute;
          top: 100%;
          right: 0;
          background-color: white;
          border: 1px solid #ddd;
          border-radius: 4px;
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
          z-index: 1;
          min-width: 150px;
          .link_dropdown {
            text-decoration: none;
          }
        }
        .iconImage {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-top: 5px;
        }
        .dropdownItem {
          display: block;
          padding: 10px 20px;
          width: 100%;
          background-color: white;
          border: none;
          text-align: left;
          cursor: pointer;
          color: #333;

          &:hover {
            background-color: #f2f2f2;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
